.div-label-control{
    padding: 2px;
}
.container {
    border: 1px transparent solid;
    margin-right: 4px;
}

html:focus, body:focus, div:focus {
    outline: none;
}

input, label, .container {
    cursor: pointer;
}

.container, .container:active, .container.expanded, .container.fieldBorder {
    border: 1px #e6e6e6 solid;
}

.container .selected {
    margin: 5px 5px 0 0;
    display: inline-block;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 2px 6px;
    font-size: 12px;
    color: #4F4F4F;
    border: solid 1px #e5e5e5;
    background-color: #fafafa;
}

.container .selectedValuesContainer .noSelection {
    margin: 0px 6px 0px 4px;
    font-size: 12px;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: grey;
}

.container .checkboxLabel {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: calc(100% - 20px);
}

input[type=checkbox]:checked + label {
    font-weight: normal;
}

.container .selectedValuesContainer {
    padding-left:2px;
}    

.container .selectAllControlContainer {
    margin-top: 5px;
}

.container .selectedValuesWrapper {
    padding-right: 20px;
    padding-bottom:3px;
    padding-top:3px;
    position: relative;
}

.container.expanded .selectedValuesWrapper {
    border-bottom: 1px #e6e6e6 solid;
}

.container .selectedValuesWrapper .bowtie-icon {
    margin: -8px 2px 0 2px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 20px;
    visibility: hidden;
}

.container .selectedValuesWrapper .bowtie-icon, .container .selectedValuesWrapper:active .bowtie-icon,
.container.expanded .selectedValuesWrapper .bowtie-icon {
    visibility: visible;
}

.container .checkboxValuesContainer {
   max-height: 200px;
    overflow-y: auto;
    display: none;
}

.container .errorPane {
    background-color: red;
    margin:5px;
    padding:5px;
    display:none;
}

.container .checkboxContainer {
    margin-top:5px;
    margin-bottom:5px;
    font-size:12px;
}

.container .checkboxContainer:hover  {
    background-color: #dce6f4;
}

.container.identity-picker-container {
    border: none;
    height: 100%;
}

.container .search-control-container {
    border: 1px #e6e6e6 solid;
}

.container .identity-list-container {
    margin-top: 5px;
    overflow-y: auto;
    position: absolute;
    top: 20px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-x: hidden;
}

.container .identity-list-container .identity-container {
    width: 150px;    
    display: inline-block;
    background-color: #d7e6f3;
    margin: 1px;
    padding: 1px;
}

.container .identity-list-container .identity-container > div {
    width: 130px;
    display: inline-block;
    vertical-align: bottom;
}

.container .identity-list-container .identity-container .remove-identity {
    cursor: pointer;
}

/* second */
.statecontainer {
    border: 1px transparent solid;
    margin-right: 4px;
}

html:focus, body:focus, div:focus {
    outline: none;
}

input, label, .statecontainer {
    cursor: pointer;
}

.statecontainer, .statecontainer:active, .statecontainer.expanded, .statecontainer.fieldBorder {
    border: 1px #e6e6e6 solid;
}

.statecontainer .selected {
    margin: 5px 5px 0 0;
    display: inline-block;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 2px 6px;
    font-size: 12px;
    color: #4F4F4F;
    border: solid 1px #e5e5e5;
    background-color: #fafafa;
}

.statecontainer .StateselectedValuesContainer .noAreaSelection {
    margin: 0px 6px 0px 4px;
    font-size: 12px;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: grey;
}

.statecontainer .checkboxLabel {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: calc(100% - 20px);
}

input[type=checkbox]:checked + label {
    font-weight: normal;
}

.statecontainer .StateselectedValuesContainer {
    padding-left:2px;
}    

.statecontainer .selectAllControlContainer {
    margin-top: 5px;
}

.statecontainer .StateselectedValuesWrapper {
    padding-right:20px;
    padding-bottom:3px;
    padding-top:3px;
    position: relative;
}

.statecontainer.expanded .StateselectedValuesWrapper {
    border-bottom: 1px #e6e6e6 solid;
}

.statecontainer .StateselectedValuesWrapper .bowtie-icon {
    margin: -8px 2px 0 2px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 20px;
    visibility: hidden;
}

.statecontainer .StateselectedValuesWrapper .bowtie-icon, .statecontainer .StateselectedValuesWrapper:active .bowtie-icon,
.statecontainer.expanded .StateselectedValuesWrapper .bowtie-icon {
    visibility: visible;
}

.statecontainer .StatecheckboxValuesContainer {
    max-height: 200px;
    overflow-y: auto;
    display: none;
}

.statecontainer .errorPane {
    background-color: red;
    margin:5px;
    padding:5px;
    display:none;
}

.statecontainer .scheckboxContainer {
    margin-top:5px;
    margin-bottom:5px;
    font-size:12px;
}

.statecontainer .scheckboxContainer:hover  {
    background-color: #dce6f4;
}

.statecontainer.identity-picker-container {
    border: none;
    height: 100%;
}

.statecontainer .search-control-container {
    border: 1px #e6e6e6 solid;
}

.statecontainer .identity-list-container {
    margin-top: 5px;
    overflow-y: auto;
    position: absolute;
    top: 20px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-x: hidden;
}

.statecontainer .identity-list-container .identity-container {
    width: 150px;    
    display: inline-block;
    background-color: #d7e6f3;
    margin: 1px;
    padding: 1px;
}

.statecontainer .identity-list-container .identity-container > div {
    width: 130px;
    display: inline-block;
    vertical-align: bottom;
}

.statecontainer .identity-list-container .identity-container .remove-identity {
    cursor: pointer;
}

/* third */
.citycontainer {
    border: 1px transparent solid;
    margin-right: 4px;
}

html:focus, body:focus, div:focus {
    outline: none;
}

input, label, .citycontainer {
    cursor: pointer;
}

.citycontainer, .citycontainer:active, .citycontainer.expanded, .citycontainer.fieldBorder {
    border: 1px #e6e6e6 solid;
}

.citycontainer .selected {
    margin: 5px 5px 0 0;
    display: inline-block;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 2px 6px;
    font-size: 12px;
    color: #4F4F4F;
    border: solid 1px #e5e5e5;
    background-color: #fafafa;
}

.citycontainer .CityselectedValuesContainer .noSubareaSelection {
    margin: 0px 6px 0px 4px;
    font-size: 12px;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: grey;
}

.citycontainer .checkboxLabel {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: calc(100% - 20px);
}

input[type=checkbox]:checked + label {
    font-weight: normal;
}

.citycontainer .CityselectedValuesContainer {
    padding-left:2px;
}    

.citycontainer .selectAllControlContainer {
    margin-top: 5px;
}

.citycontainer .CityselectedValuesWrapper {
    padding-right: 20px;
    padding-bottom:3px;
    padding-top:3px;
    position: relative;
}

.citycontainer.expanded .CityselectedValuesWrapper {
    border-bottom: 1px #e6e6e6 solid;
}

.citycontainer .CityselectedValuesWrapper .bowtie-icon {
    margin: -8px 2px 0 2px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 20px;
    visibility: hidden;
}

.citycontainer .CityselectedValuesWrapper .bowtie-icon, .citycontainer .CityselectedValuesWrapper:active .bowtie-icon,
.citycontainer.expanded .CityselectedValuesWrapper .bowtie-icon {
    visibility: visible;
}

.citycontainer .CitycheckboxValuesContainer {
    max-height: 200px;
    overflow-y: auto;
    display: none;
}

.citycontainer .errorPane {
    background-color: red;
    margin:5px;
    padding:5px;
    display:none;
}

.citycontainer .ccheckboxContainer {
    margin-top:5px;
    margin-bottom:5px;
    font-size:12px;
}

.citycontainer .ccheckboxContainer:hover  {
    background-color: #dce6f4;
}

.citycontainer.identity-picker-container {
    border: none;
    height: 100%;
}

.citycontainer .search-control-container {
    border: 1px #e6e6e6 solid;
}

.citycontainer .identity-list-container {
    margin-top: 5px;
    overflow-y: auto;
    position: absolute;
    top: 20px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-x: hidden;
}

.citycontainer .identity-list-container .identity-container {
    width: 150px;    
    display: inline-block;
    background-color: #d7e6f3;
    margin: 1px;
    padding: 1px;
}

.citycontainer .identity-list-container .identity-container > div {
    width: 130px;
    display: inline-block;
    vertical-align: bottom;
}

.citycontainer .identity-list-container .identity-container .remove-identity {
    cursor: pointer;
}